@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#card-product {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 8px 0px rgba(0, 0, 0, 0.10), 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 33px 20px 0px rgba(0, 0, 0, 0.05), 0px 58px 23px 0px rgba(0, 0, 0, 0.01), 0px 91px 25px 0px rgba(0, 0, 0, 0.00);
}

#search-bar {

  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 26px 15px 0px rgba(0, 0, 0, 0.05), 0px 45px 18px 0px rgba(0, 0, 0, 0.01), 0px 71px 20px 0px rgba(0, 0, 0, 0.00);
}

#filter-btn {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 26px 15px 0px rgba(0, 0, 0, 0.05), 0px 45px 18px 0px rgba(0, 0, 0, 0.01), 0px 71px 20px 0px rgba(0, 0, 0, 0.00);
}

.filters {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 11px 24px 0px rgba(0, 0, 0, 0.10), 0px 43px 43px 0px rgba(0, 0, 0, 0.09), 0px 97px 58px 0px rgba(0, 0, 0, 0.05), 0px 173px 69px 0px rgba(0, 0, 0, 0.01), 0px 271px 76px 0px rgba(0, 0, 0, 0.00);
}

.modal {
  z-index: 100;
}

.load-more {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), 0px 16px 16px 0px rgba(0, 0, 0, 0.09), 0px 36px 21px 0px rgba(0, 0, 0, 0.05), 0px 63px 25px 0px rgba(0, 0, 0, 0.01), 0px 99px 28px 0px rgba(0, 0, 0, 0.00);
}

footer {
  box-shadow: 10px -10px 25px 0px rgba(230, 230, 230, 0.90), -10px 10px 20px 0px rgba(255, 255, 255, 0.90), 10px 10px 20px 0px rgba(230, 230, 230, 0.20), -10px -10px 20px 0px rgba(230, 230, 230, 0.20);
}

.buat-akun {
  background: var(--Daftar-Gradient, linear-gradient(93deg, rgba(38, 166, 119, 0.90) 24.48%, rgba(3, 99, 201, 0.55) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .masuk-btn {
  background: var(--Daftar-Gradient, linear-gradient(93deg, rgba(38, 166, 119, 0.90) 24.48%, rgba(3, 99, 201, 0.55) 100%));
} */

.masuk-btn {
  display: grid;
  place-items: center;
  width: 100px;
  height: 44px;
  background: linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245)) padding-box,
  var(--Daftar-Gradient, linear-gradient(93deg, rgba(38, 166, 119, 0.90) 24.48%, rgba(3, 99, 201, 0.55) 100%)) border-box;
  border: 2px solid transparent;
}

.masuk-btn-text {
  background: var(--Daftar-Gradient, linear-gradient(93deg, rgba(38, 166, 119, 0.90) 24.48%, rgba(3, 99, 201, 0.55) 100%));
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register-btn {
  background: radial-gradient(214.88% 273.9% at -33.84% -41.25%, rgba(38, 166, 119, 0.90) 27.41%, rgba(3, 99, 201, 0.55) 100%);
}

.PhoneInputInput {
  outline: none;
}